.container {
  width: 90%;
  background-image: radial-gradient(
    hsla(213, 19%, 18%, 0.7),
    hsl(213, 19%, 18%)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.inner-container {
  padding: 20px;
}

.star-div {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: hsl(216, 12%, 54%, 40%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-img {
  width: 60%;
}
